<!DOCTYPE html>
<html lang="en">
<head>
  <title>РЖЯ - русский словарь</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.css')}}>

</head>
<body>

<div class="jumbotron text-center">
  <h1>РЖЯ - русский словарь</h1>
  <p>Первый с поиском по жестам</p>
</div>

<div class="container">
	<form action='{{url_for(request)}}'> <div class="form-group">
      <label for="search">Поиск</label>
      <input type="search" class="form-control" id="search" placeholder="слово или жест">
    </div>
<input type="submit" class="btn btn-default">искать</input>
</div>

</body>
</html>
</html>