{% extends "base.html" %}

{% set title = "РЖЯ - русский словарь"%}
{%block contents%}
 <div class="jumbotron text-center">
          <h1>РЖЯ - русский словарь</h1>
          <p>Первый с поиском по жестам</p>
 </div>

      
<form class="container" action={{url_for('search')}} method="get">
    <h2> Поиск </h2> <br>
    <div class="form-group">
        <input  name="request" type="text" class="form-control" placeholder="слово или жест" id="search" >
    </div>
    <button name="submit" type="submit" class="btn btn-success"> Искать </button>
</form>

{%endblock%} 

