<!DOCTYPE html>
<html lang="en">
<head>

    <title>Результаты поиска</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<h1>Результаты поиска <span class="badge">{{results_num}}</span> </h1>
<div class="container">
<ul class="list-group"> {%for line in results%}
    <li href="{{link}}" class="list-group-item">{{line}} </li>
        {%endfor%}
    </ul>
    </div>
</body>
</html>