<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ sign_id }}</title> <! тут надо понять, как удобнее называть страницу>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
 <div class="media">

    <div class="media-left">
    <video controls>
    <source src={{ video }} type="video/mp4">
    </video>
    </div>

    <div class="media-body">
    <ul class="list-group"> {%for item in information%}
    <h2>{{item}}</h2>
    <p>{{information[item]}}</p>
        {%endfor%}
    </ul>
    </div>
 </div>

{%if example_video != None%}
  <div class="media">
      <div class="media-left">

    <video controls>
    <source src={{example_video}} type="video/mp4">
    </video>
        </div>
      <div class="media-body">
          <h2>Пример употребления</h2>
          <ul class="list-group"> {%for item in info_example%}
    <h3>{{item}}</h3>
    <p>{{info_example[item]}}</p>
        {%endfor%} </ul>
      </div>
      </div>
{%endif%}


</body>
</html>